@charset "utf-8";
@import 'include/var';
@import 'include/base';
@import 'include/common';

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'KoPubDotumMedium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* =======================
  reset
======================= */
.cf:after, .clear:after {display: block;content: '';clear: both;}
.hide {overflow: hidden;position: absolute;width: 1px;height: 1px;margin: -1px;clip: rect(0 0 0 0);}

*{
  box-sizing: border-box;
}
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none;} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body {font-family: 'NanumSquare', sans-serif; font-size: 16px; font-weight: 400;}
body,th,td,input,select,textarea,button {font-family: 'NanumSquare', sans-serif; font-size: 16px; font-weight: 400;color:#555555} /* color값은 디자인가이드에 맞게사용 */
input[type='password']{font-family: 'dotum';}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;color:#333;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

img{vertical-align:top;}

select.select,
input.input{
  border: 1px solid #d8d8d8;height: 30px;
}
input.input{padding-left: 5px;}
select.select{border: 1px solid #d8d8d8;height: 30px;}

@import 'include/maplnb';