@import 'var';

.sr-only{
	display: none;
}
$ft2 : "NanumGothic";
.mt-25{margin-top: 25px;}
.mt-10{margin-top: 10px;}
html,
body{
	height: 100%;width: 100%;
}

#aside{
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;	
	height: 100vh;
	background-color: #3b80ef;
	width: 55px;
}

#gnb{}
.gnb{
	&-li{
		a{
			display: block;
			height: 100px;
			color: #fff;
			text-align: center;
			background-repeat: no-repeat;
			padding-top: 55px;
			font-size: 11px;
		}
		&-1{
			a{
				background-image: url("#{$image}/map/gnb-icon-1-off.png");
				background-position: 50% 20px;
			}
		}
		&-2{
			a{
				background-image: url("#{$image}/map/gnb-icon-2-off.png");
				background-position: 50% 17px;
				&:hover,
				&.active,
				&:focus{
					background-color: #6b89e0;
				}
			}
		}
		&-3{
			a{
				background-image: url("#{$image}/map/gnb-icon-3-off.png");
				background-position: 50% 15px;
				padding-top: 50px;
				&.active,
				&:hover,
				&:focus{
					background-color: #1aaebf;
				}
			}
		}
		&-4{
			a{
				background-image: url("#{$image}/map/gnb-icon-4-off.png");
				background-position: 50% 13px;
				padding-top: 45px;
				&.active,
				&:hover,
				&:focus{
					background-color: #bea40d;
				}
			}
		}
		&-5{
			a{
				background-image: url("#{$image}/map/gnb-icon-5-off.png");
				background-position: 50% 30px;
				padding-top: 60px;
				&.active,
				&:hover,
				&:focus{
					background-color: #8cb713;
				}
			}
		}
		
	}
}

.z-index1{
	z-index: 1;
}
.z-index2{
	z-index: 2;
}

#map{
	position: absolute;
	left: 55px;
	right: 0;
	top: 0;
	bottom: 0;
	background:url("#{$image}/map/map.png") no-repeat 50% 50%; background-size: cover;
}

.search{
	position: fixed;
	right: 10px;
	top: 10px;
	width: 360px;
	z-index: 3;
	&-frm{
		background-color: #fff;
		border: 1px solid #d8dade;
		padding: 5px 10px;
		div{
			position: relative;
			overflow: hidden;
			select{
				float: left;width: 130px;height: 29px;
				border: 1px solid #d7d7d7;
				font-weight: 700;
				font-size: 14px;color: #333333;
				padding-left: 10px;
			}
			input{
				float: left;
				border: 1px solid #d7d7d7;
				height: 29px;
				width: 204px;
				padding-left: 10px;
				padding-right: 30px;
				margin-left: 3px;

			}
			#btnSubmit{display: block;position: absolute;right: 5px;top: 4px;width:24px;height: 22px;background: url("#{$image}/map/search-icon.png") no-repeat 0 0;}
		}
	}
	&-list{
		display: none;
		background-color: #fff;
		border: 1px solid #d8dade;
		margin-top: 5px;
		&-head{
			position: relative;
			margin: 20px 10px 0;
			border-bottom: 1px solid #d0d6e1;font-size: 12px;
			div{
				padding-bottom: 5px;
			}
			b{
				color: #df2a1d;
			}
		}
		&-close{
			display: block;position: absolute;right: 0;
			top: -9px;
			width: 16px;height: 16px;
			background: url("#{$image}/map/search-list-close.png") no-repeat 0 0;
		}
		&-cont{
			padding: 0 10px;
			.item{
				border-bottom: 1px solid #d0d6e1;
				padding: 12px 15px 5px 15px;
				&._nodata{
					text-align: center;
					p{
						padding: 10px 0;font-size: 13px;font-weight: 700;
					}
				}
				p{
					line-height: 1;
					a{
						color: #494949;
						font-size: 12px;

					}
				}
			}
		}
	}
}

//paging
.search-paging {
	font-size: 0;text-align: center;
	padding: 10px 0;
  > div{
  	display: inline-block;
  }
  a, strong {
  	font-size: 12px;
    float: left;
    display: block;
    line-height: 20px;height: 20px;
    vertical-align: top;
    text-align: center;
    padding: 0 10px;
  }
  strong {color: #fa0505;}
  .paging-first,
  .paging-last,
  .paging-prev,
  .paging-next{padding-left: 0;padding-right: 0;width: 20px;height: 20px;border: 1px solid #d5d8dc;background-repeat: no-repeat;background-position: 50% 50%;}

  .paging-first {background-image:url('#{$image}/map/paging-fir.png');}
  .paging-last {background-image: url('#{$image}/map/paging-last.png');margin-left: -1px;}
  .paging-prev {
    background-image: url('#{$image}/map/paging-prev.png');margin-left: -1px;}
  .paging-next {background-image: url('#{$image}/map/paging-next.png');}
}

.level-panel{
	position: absolute;
	right: 10px;
	bottom: 130px;
	width: 35px;height: 127px;
	background: url("#{$image}/map/lv-bg.png") no-repeat 0 0;
	&-box{
		position: relative;
		height: calc(100% - 13px);width: 100%;margin-bottom: 13px;
		.pin{
			margin-left: -7px;
			transform: translateY(-2px);
			display: block;
			background: url("#{$image}/map/level-point.png") no-repeat;width: 17px;height: 5px;
		}
		.progress{
			display: block;
			position: absolute;
			bottom: 0;
			left: 16px;
			width: 3px;
			background: #6b89e0;
		}
	}
}

.btn-zoom{
	position: absolute;
	border: 1px solid #b9b9b9;
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	bottom: 50px;right: 10px;
	background-color: #fff;
	overflow: hidden;
	a{
		display: block;
		width: 35px;height: 35px;
		background-repeat: no-repeat;background-position: 50% 50%;
	}
	&-in{
		background-image: url("#{$image}/map/zoomin.png");
	}
	&-out{
		border-top: 1px solid #b9b9b9;
		background-image: url("#{$image}/map/zommout.png");
	}
}

.layer{

	position: absolute;
	right: 10px;
	top: 60px;
	&-btn{
		display: block;width: 50px;height: 50px;
		text-align: center;font-size: 10px;font-weight: 700;
		padding-top: 32px;line-height: 1;background-repeat: no-repeat;
		border-radius: 3px;position: relative;
		overflow: hidden;
		border: 1px solid #b9b9b9;
		background-position: 50% 8px;
		background-color: #fff;
		background-image: url("#{$image}/map/icon-layer-off.png");
		&:hover,
		&:focus,
		&.active{
			color: #fff;
			background-color: #2465c8;
			border-color: #2465c8;
			background-image: url("#{$image}/map/icon-layer-on.png");
		}
	}
	.box{
		position: relative;
	}
	&-option{
		display: none;
		position: absolute;
		right: 54px;
		top: 0;background-color: #fff;
		border-radius: 3px;
		overflow: hidden;
		border: 1px solid #b9b9b9;width: 300px;
		padding: 20px 10px;
		&-top{
			overflow: hidden;
			.left{
				float: left;
				width: 128px;
				height: 138px;
				border: 1px solid #000;
			}
			.right{
				float: right;
				width: 145px;
				position: relative;
				height: 138px;
				.btn-group{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					a{
						border-radius: 3px;
						display: block;
						width: 68px;height: 28px;
						color: #fff;
						text-align: center;
						line-height: 28px;
						font-size: 14px;
					}
					.btn-gray{float: left;background-color: #aaaaaa;}
					.btn-blue{float: right;background-color: #3b80ef;}
				}
			}
		}
	}
}

.slider-area{margin-top: 20px;
	p{
		font-family: $ft2;
		font-size: #666;
		font-weight: 700;
		font-size: 14px;
	}
	.border-line{
		border: 1px solid #b9b9b9;
		padding: 15px 5px 10px;
		position: relative;
		border-radius: 3px;
		.num{
			position: absolute;
			top: 2px;
			font-family: $ft2;
			font-weight: 700;
			font-size: 10px;
			line-height: 1;
		}
		.zero{
			left: 3px;
		}
		.end{
			right: 3px;
		}
	}
}

.slider-range{
	width: 134px;height: 3px;
	background-color: #e5e5e5;
}
.ui-slider{
	position: relative;
}
.ui-slider .ui-slider-range{
	position: absolute;z-index: 1;display: block;border: 0;
	top: 0;height: 100%;background-color: #6b89e0;
}
.ui-slider-handle{
	position: absolute;
	display: block;
	width: 5px;
	height: 17px;
	z-index: 2;
	top: -8px;
	margin-left: -3px;
	background: url("#{$image}/map/handle.png");
}
.slider-legend{

}

.switch{
	overflow: hidden;
	border: 1px solid #b9b9b9;
	border-radius:3px;width: 71px;
	label{
		position: relative;
		display: block;
		float: left;
		+label{
			border-left: 1px solid #e7e7e7;
		}
		input{
			position: absolute;left: -99999em;
			&:checked+span{
				color: #fff;background-color: #3b80ef;
			}
		}
		span{
			font-family: $ft2;font-weight: 700;
			display: block;color: #b9b9b9;
			text-align: center;line-height: 34px;height: 34px;width: 34px;
			font-size: 12px;
		}
	}
}
.list-li {
	position: relative;
	border-radius: 3px;
	.file-group{
		position: absolute;right: 28px;
		top: 8px;
		overflow: hidden;
		.file-icon{

			font-size: 0;
			text-indent: -8999em;
			display: block;
			float: left;width: 16px;height: 18px;background-repeat: no-repeat;
			background-position: 0 0;
		}
		.file-shp{
			background-image: url("#{$image}/map/icon-file-shp.png");
		}
		.file-xls{
			background-image: url("#{$image}/map/icon-file-xls.png");
		}
	}
	.subject{
		font-family: $ft2;
		font-weight: 700;
		color: #fff;
		padding-left: 48px;
		width: 210px;
		text-overflow: ellipsis;
		white-space: nowrap;font-size: 12px;
		overflow: hidden;
		display: inline-block;
		height: 34px;line-height: 34px;
		vertical-align: top;
	}
	.del{
		display: block;
		font-size: 0;
		text-indent: -999em;
		position: absolute;right: 12px;top: 12px;width: 10px;height: 10px;
		background: url("#{$image}/map/del.png");
	}
	+.list-li{margin-top: 5px;}
	&.type-1{background-color: #3b80ef;
		i{
			background-color: #114caa;
		}
	}
	&.type-2{background-color: #6b89e0;
		i{
			background-color: #3958b2;
		}
	}
	&.type-3{background-color: #1aaebf;
		i{
			background-color: #06626c;
		}
	}
	&.type-4{background-color: #bea40d;
		i{
			background-color: #7f6d05;
		}
	}
	&.type-5{background-color: #94c40e;
		i{
			background-color: #6d9304;
		}
	}
	i{
		display: block;
		position: absolute;
		top: 3px;left: 8px;
		width: 27px;height: 27px;
		border-radius:50%;
		background-image: url("#{$image}/map/icon-eye.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

.btn-sort{
	position: absolute;right: 10px;top: 120px;
	border: 1px solid #b9b9b9;
	border-radius:3px;background-color: #fff;
	.box{
		position: relative;
	}
	.load-select{
		display: none;
		position: absolute;
		right: 54px;
		top: 0;
		border: 1px solid #b9b9b9;border-radius:3px;background-color: #fff;
		width: 248px;box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
		a{
			display: block;
			vertical-align: top;
			float: left;
			height: 56px;
			text-align: center;
			padding-top: 38px;
			font-size: 12px;
			font-weight: 700;
			font-family: $ft2;width: 49px;
			background-repeat: no-repeat;
			transition: all 0.25s;
			&:hover,
			&:focus,
			&.active{
				background-color: #2465c8;
				color: #fff;
			}
			+a{
				border-left: 1px solid #b9b9b9;
			}
			&.load-type-1{
				background-position: 50% 10px;
				background-image: url("#{$image}/map/icon-load-1-off.png");
				&:hover,
				&:focus,
				&.active{
					background-image: url("#{$image}/map/icon-load-1-on.png");
				}
			}
			&.load-type-2{
				background-position: 50% 5px;
				background-image: url("#{$image}/map/icon-load-2-off.png");
				&:hover,
				&:focus,
				&.active{
					background-image: url("#{$image}/map/icon-load-2-on.png");
				}
			}
			&.load-type-3{
				background-position: 50% 10px;
				background-image: url("#{$image}/map/icon-load-3-off.png");
				&:hover,
				&:focus,
				&.active{
					background-image: url("#{$image}/map/icon-load-3-on.png");
				}
			}
			&.load-type-4{
				background-position: 50% 11px;
				background-image: url("#{$image}/map/icon-load-4-off.png");
				&:hover,
				&:focus,
				&.active{
					background-image: url("#{$image}/map/icon-load-4-on.png");
				}
			}
			&.load-type-5{
				background-position: 50% 11px;
				background-image: url("#{$image}/map/icon-load-5-off.png");
				&:hover,
				&:focus,
				&.active{
					background-image: url("#{$image}/map/icon-load-5-on.png");
				}
			}
		}
	}
	.legend-view{
		overflow-y: auto;
    	height: calc(100vh - 100px);
		display: none;
		position: absolute;
		right: 54px;
		top: -180px;
		border: 1px solid #b9b9b9;border-radius:3px;background-color: #fff;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
		padding: 35px;
	}
	.satellite-select{
		display: none;
		position: absolute;
		right: 54px;
		top: 0;
		border: 1px solid #b9b9b9;border-radius:3px;background-color: #fff;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
		width: 224px;
		padding: 10px;
		a{
			display: block;
			float: left;
			width: 64px;
			height: 58px;
			background-repeat: no-repeat;
			background-image: url("#{$image}/map/thumb-satellite.png");
			+a{
				margin-left: 5px;
			}
		}
		.satellite-type-1{
			background-position: 0 0;
			&:hover,
			&:focus,
			&.active{
				background-position: 0 -58px;
			}
		}
		.satellite-type-2{
			background-position: -69px 0;
			&:hover,
			&:focus,
			&.active{
				background-position: -69px -58px;
			}
		}
		.satellite-type-3{
			background-position: -138px 0;
			&:hover,
			&:focus,
			&.active{
				background-position: -138px -58px;
			}
		}
	}
	a[class^="btn-sort--"]{
		display: block;width: 48px;height: 58px;
		text-align: center;font-size: 10px;font-weight: 700;
		padding-top: 40px;line-height: 1;background-repeat: no-repeat;
		border-radius: 3px;position: relative;
		overflow: hidden;
		&:hover,
		&:focus,
		&.active{
			color: #fff;
			background-color: #2465c8;
			margin-left: -1px;margin-right: -1px;width: 50px;
		}

	}
	&--map{
		background-position: 50% 12px;
		background-image: url("#{$image}/map/icon-sort-map-off.png");
		margin-top: -1px;
		&:hover,
		&:focus,
		&.active{
			background-image: url("#{$image}/map/icon-sort-map-on.png");
		}
	}
	&--load{
		background-position: 50% 14px;
		background-image: url("#{$image}/map/icon-sort-load-off.png");	
		&:hover,
		&:focus,
		&.active{
			background-image: url("#{$image}/map/icon-sort-load-on.png");
		}
	}
	&--legend{
		background-position: 50% 9px;
		background-image: url("#{$image}/map/icon-sort-legend-off.png");
		margin-bottom: -1px;
		&:hover,
		&:focus,
		&.active{
			
			background-image: url("#{$image}/map/icon-sort-legend-on.png");
		}
	}
}

.sub{
	z-index: 2;
	display: none;
	position: absolute;
	top: 0;left: 55px;
	height: 100%;background-color: #fff;
	border: 1px solid #3b80ef;
	width: 340px;
	&.-open{
		display: block;
	}
	&-wrapper{
		position: relative;
		height: 100%;
		width: 100%;
		padding: 20px;
	}
	.sub-content{
		overflow-y: auto;
		height: 100%;position: relative;
		display: none;
		&.active{
			display: block;
		}
	}
	.btn-lnb-close{
		position: absolute;
		top: 50%;
		right: -1px;
		transform: translateX(100%);
		width: 15px;height: 42px;
		background: url("#{$image}/map/btn-lnb-close.png") no-repeat 0 0;
	}
}

.toggle{
	&-header{
		position: relative;border-bottom: 1px solid #3b80ef;
		background: url("#{$image}/map/icon-submenu.png") no-repeat 0 0;
		padding-bottom: 10px;
		a{
			display: block;background-repeat: no-repeat;background-position: right center;
			background-image: url("#{$image}/map/toggle-txt-off.png");
			color: #454545;
			font-weight: 700;
			font-size: 16px;
			padding-left: 20px;
			&.active{
				background-image: url("#{$image}/map/toggle-txt-on.png");
			}
		}
	}
	&-content{
		display: none;
		padding: 0 20px;
	}
}
.item-list{
	li{
		padding: 15px 0;border-bottom: 1px solid #d4d4d4;
	}
}

.lbl-checkbox{
	position: relative;
	display: inline-block;
	font-size: 14px;
	input{
		position: absolute;left: -99999em;
		opacity: 0.1;
		&:checked+span{
			background-image: url("#{$image}/map/icon-check-on.png");	
		}
	}
	span{
		vertical-align: top;
		transition: all 0.25s;
		display: inline-block;background-repeat: no-repeat;
		background-position: 0 0;
		width: 15px;height: 15px;
		margin-right: 10px;
		background-image: url("#{$image}/map/icon-check.png");
	}
}

.notic-txt{
	color: #666666;
	font-size: 13px;
	font-family: $ft2;
	letter-spacing: -0.05em;
	padding-top: 35px;
}

.tab{
	&-panel{
		display: none;
		&.active{
			display: block;
		}
	}
	&-menu{
		overflow: hidden;
		a.tab-toggle{
			float: left;
			background-color: #e8eef7;text-align: center;
			height: 40px;line-height: 38px;
			width: 25%;
			font-size: 13px;
			color: #666666;
			border: 1px solid #d4d4d4;
			border-bottom: 0;
			&.line2{
				line-height: 1.1;padding-top: 4px;
			}
			&.active{
				background-color: #3b80ef;
				border-color: #3b80ef;
				color: #fff;
			}
		}
	}
	&-content{
		
	}
	.border-content{
		border: 1px solid #d4d4d4;
		padding: 20px 10px;
	}
}

.btn-meta-select{
	font-size: 0;text-align: center;
	a{
		display: inline-block;border-radius: 3px;
		transition: all 0.25s;
		width: 45px;height: 45px;background-color: #d4d4d4;background-repeat: no-repeat;background-position: 50% 50%;
		&:hover,
		&:focus,
		&.active{
			background-color: #00959c;
		}
		&.point{background-image: url("#{$image}/map/point.png");}
		&.square{background-image: url("#{$image}/map/square.png");}
		&.polygon{background-image: url("#{$image}/map/polygon.png");}
		+a{
			margin-left: 27px;
		}
	}
}

.w100per{width: 100%;}
input.input{display: block;border: 1px solid #d4d4d4;height: 45px;padding-left: 10px;padding-right: 10px;}

.btn{display: inline-block;}
.btn-search{
	background-color: #3b80ef;
	text-align: center;color: #fff;
	width: 100%;padding: 13px 0;line-height: 17px;
	font-size: 16px;
	font-weight: 700;
	i{
		display: inline-block;
		margin-left: 10px;
		background: url("#{$image}/map/icon-tab-search.png") no-repeat;
		width: 17px;height: 17px;vertical-align: top;
	}
	&:hover,
	&:focus{
		color: #fff;
	}
}

select.select{
	border: 1px solid #d4d4d4;
}

.select-group{
	+.select-group{
		margin-top: 10px;
	}
	&:after{
		content:"";display: block;overflow: hidden;
	}
	label{
		display: block;
		float: left;
		line-height: 40px;height: 40px;
		font-size: 16px;width: 70px;padding-left: 10px;
	}
	.select{height: 40px;padding-left: 15px;width: calc(100% - 70px);}
}

.result-panel{
	&-top{
		a{
			display: block;font-size: 0;
			width: 296px;height: 45px;background: url("#{$image}/map/back.png") no-repeat 0 0;
		}
	}
	&-header{
		position: relative;border-bottom: 1px solid #3b80ef;
		padding-left: 35px;
		background: url("#{$image}/map/icon-submenu.png") no-repeat 15px 0;
		padding-bottom: 10px;
		margin-top: 20px;
		font-weight: 700;color: #454545;font-size: 16px;
	}
	&-total{
		text-align: right;
		padding: 10px 0 13px;font-size: 13px;
	}
	&-table{
		border: 1px solid #d4d4d4;
		table{
			width: 100%;
			thead{
				th{
					font-size: 12px;background-color: #e8eef7;
					padding: 12px 0;font-family: $ft2;
					+th{border-left: 1px solid #d4d4d4;}
				}
			}
			tbody{
				td{
					padding: 10px 0;
					text-align: center;
					border-top: 1px solid #d4d4d4;
					font-size: 11px;font-family: $ft2;
					.acc-grid{
						overflow: hidden;
						padding-left: 20px;padding-right: 10px;
						span{
							float: left;line-height: 18px;
						}
						a{
							float: right;
							img{vertical-align: middle;}
						}
					}
				}
			}
		}
	}
}