<!-- footer -->
<div class="lay-footer">
	<div class="cf">
        <div class="lay-footer__logo"></div>
        <div class="lay-footer__info">
            (우)30064 세종특별자치시 도움6로 11 (어진동, 환경부) 정부세종청사 6동<br>
            토지피복지도 및 환경주제도 관련 044-201-6482(환경부 정보화담당관실),<br>
            생태자연도 관련 041-950-5679 (국립생태원 생태자연도연구팀)
        </div>
        <div class="lay-footer__link">
            <div>
                <a href="#n">개인정보 처리방침 +</a>
                <a href="#n">저작권 정책 +</a>
                <select name="" id="">
                    <option value="">관련 기관 사이트</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!--// footer -->