<!-- header -->
		<div class="lay-header">
			<div class="lay-header__tnav">
				<!-- <div class="lay-link cf">
					<a href="#n">토지피복지도</a>
					<a href="#n">환경주제도</a>
					<a href="#n">토지이용규제지역</a>
					<a href="#n">토지피복지도 · 지구도</a>
					<a href="#n">생태자연도</a>
				</div> -->
				<div class="lay-wrap">
					<h1 class="site-logo">환경공간정보서비스</h1>
					<div class="member-nav">
						<div class="login-util">
							<b>홍길동</b>님 환영합니다.
							<a href="#" class="btn-logout">로그아웃</a>
						</div>
						<!--
						<a href="#">로그인</a>
						<a href="#">회원가입</a>
						-->
					</div>
				</div>
			</div>
			<div class="lay-hedaer__gnb">
				<ul>
					<li><a href="#">시스템소개</a></li>
					<li><a href="#">환경주 제도</a></li>
					<li><a href="#">자료신청</a></li>
					<li><a href="#">OPEN API</a></li>
					<li><a href="#">이용안내</a></li>
					<li><a href="#">게시판</a></li>
				</ul>
			</div>
		</div>