<!-- subvisual -->
<div class="lay-sub">
	<div class="lay-subvisual">
		<h2><span>@@maintitle</span></h2>
		<p>@@maintext</p>
	</div>
	<div class="sub-navi--bg"></div>
	<div class="sub-navi__wrap">
		<div class="sub-navi">
			<a href="#n" class="home"><span class="hide">HOME</span></a>
			<div>
				<p class="sub-navi__gnb">@@maintitle</p>
				<!-- <p class="sub-navi__arrow"></p> -->
				<p class="sub-navi__gnb__sub">@@subtitle</p>
			</div>
		</div>
	</div>
</div>
<!--// subvisual -->